body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
.navbar{
    height: 12vh;
    background-color: #333;
    display: flex;
}
.ticket-container{
    height: 88vh;
    background-color: #f4eee8;
}
.filter-container,
.add-delete-container{
    height: 8vh;
    margin-top: 2vh;
    margin-left: 8vw;
    border-radius: 3px;
    background-color: #444;
}
.filter-container{
    width: 20vw;
    display: flex;
}
.filter{
    height: 100%;
    width: 25%;
    display: flex;
}
.pink-btn, .red-btn, .yellow-btn, .green-btn{
    display: block;
    width: 40%;
    height: 40%;
    border-radius: 3px;
    margin: auto;
}
.pink-btn, .modal-pink-filter{
    background-color: pink;
}
.red-btn, .modal-red-filter{
    background-color: red;
}
.yellow-btn, .modal-yellow-filter{
    background-color: yellow;
}
.green-btn, .modal-green-filter{
    background-color: green;
}
.filter:hover{
    background-color: #333;
    cursor: pointer;
}
.add-delete-container{
    width: 10vw;
    display: flex;
}
.add, .delete{
    height: 100%;
    width: 50%;
    display: flex;
}
.action-btn{
    display: block;
    width: 40%;
    height: 40%;
    margin-top: calc(8vh * 0.3);
    margin-left: calc(5vw * 0.3);
    border-radius: 3px;
    padding-left: 4%;
    background-color: #fff;
}
.modal{
    box-shadow: 0px 0px 40px 5px gray;
    position: absolute;
    top: 15rem;
    left: calc((100vw - 35rem) / 2);
    height: 18rem;
    width: 35rem;
    background-color: #fff;
    margin: auto;
    display: flex;
}
.task-to-be-added{
    height: 70%;
    width: 70%;
    padding: 3rem;
    outline: none;
    overflow: auto;
}
.priority-list{
    display: flex;
    flex-direction: column;
    background-color: #444;
    height: 100%;
    width: 30%;
    justify-content: space-between;
    padding: 3rem;
}
.modal-filter{
    width: 100%;
    height: 20%;
}
.modal-filter:hover {
    opacity: 0.5;
    cursor: pointer;
}